* {
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    background: radial-gradient(white, grey);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px 0 10% 0;
    border-top: 20px solid darkslategrey;
    background: linear-gradient(135deg, white, grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, silver, grey);
    border: 1px solid black;
    border-radius: 50%;
    transform: translateY(-50px);
}

.eyes {
    width: 20px;
    height: 30px;
    border-radius: 50%;
    border: 0.1px solid black;
    background-color: rgb(0, 153, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(20px, 30px);
    box-shadow: 40px 0 0 rgb(0, 153, 255);
    animation: moveEyes 10s ease-out infinite;
}

@keyframes moveEyes {
    10% {
        transform: translate(10px, 35px);
    }
    30%, 40% {
        transform: scale(100%, 50%) translate(15px, 50px);
    }
    40%, 50% {
        transform: scale(100%, 100%) translate(15px, 50px);
    }
    100% {
        transform: translate(20px, 30px);
    }
}

.innerEyes {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 40px 0 0;
}

.retina {
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.botResponse {
    margin: 10px;
    font-weight: 500;
    max-height: 100px;
    overflow-y: auto;
}

.userInput, .userInput[type="text"], .userInput[placeholder] {
    margin: 10px;
    font-size: 1rem;
    font-family: 'Google Sans', sans-serif;
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 50px;
    border-left: 10px solid darkslategray;
    border-radius: 15px 0 15px 0;
}