body, html {
    font-family: 'Google Sans', sans-serif;
    background: linear-gradient(to bottom, rgb(181, 255, 255), rgb(0, 123, 255));
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: fit-content;
}

.headersText {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -20px;
}

.bottomObj {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
}

.fishButton {
    border: 2px solid black;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 13px;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 50px;
    cursor: pointer;
    background: radial-gradient(rgb(74, 219, 255), blue);
    user-select: none;
}

.inventoryIcon, .fishIndexIcon {
    border: 0.5px solid black;
    background: radial-gradient(rgb(145, 255, 145), green);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

img {
    max-width: 50px;
    max-height: 50px;
}

.whiteSpace {
    width: 100px;
    height: 100px;
    display: block;
}

.fishButtonClicked {
    animation: clickedFish 100ms ease-out forwards;
}

@keyframes clickedFish {
    from {
        transform: scale(105%);
    }
    to {
        transform: scale(100%);
    }
}

.fishProgressBar {
    width: 50px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(600px, 0);
    background: linear-gradient(to top, red, green);
}

.balance {
    position: fixed; 
    left: 20px;
}

.Shop {
    display: flex;
    position: fixed;
    width: 200px;
    height: 300px;
    left: 100px;
    bottom: 120px;
    background: linear-gradient(to top, rgb(139, 139, 139), rgb(184, 184, 184));
    opacity: 0;
    padding: 5px;
    border-radius: 10px 10px;
}

.lvl2rod {
    display: inline-block;
    max-height: 20px;
    cursor: pointer;
    color: black;
    opacity: 100%;
}
