* {
    margin: 0;
}

html, body {
    font-family: 'Google Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgb(169, 255, 232), rgb(176, 255, 176));
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
    margin: 10px;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pipe {
    width: 200px;
    height: 400px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    border-radius: 10px;
    left:  1000px;
    bottom: 0px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 20%,
        90% 20%,
        90% 100%,
        10% 100%,
        10% 20%,
        0% 20%
    );
}


.pipeR {
    width: 200px;
    height: 400px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    border-radius: 10px;
    left: var(--left);
    top: var(--top);
    bottom: var(--bottom);
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 20%,
        90% 20%,
        90% 100%,
        10% 100%,
        10% 20%,
        0% 20%
    );
}

.bird {
    background-color: rgb(59, 59, 59);
    position: absolute;
    left: 100px;
    top: 200px;
    width: 10px;
    height: 10px;
    animation: flap 1s ease-out infinite alternate;
    box-shadow: 
    10px 0 0 rgb(59, 59, 59),
    20px 0 0 rgb(59, 59, 59),
    30px 0 0 rgb(59, 59, 59),
    40px 0 0 rgb(59, 59, 59),
    50px 0 0 rgb(59, 59, 59),
    30px 10px 0 rgb(59, 59, 59),
    20px 20px 0 rgb(59, 59, 59),
    20px 30px 0 rgb(59, 59, 59),
    20px 40px 0 rgb(59, 59, 59),
    30px 50px 0 rgb(59, 59, 59),
    40px 60px 0 rgb(59, 59, 59),
    50px 60px 0 rgb(59, 59, 59),
    60px 60px 0 rgb(59, 59, 59),
    70px 60px 0 rgb(59, 59, 59),
    60px 10px 0 rgb(59, 59, 59),
    70px 20px 0 rgb(59, 59, 59),
    60px 30px 0 rgb(59, 59, 59),
    60px 40px 0 rgb(59, 59, 59),
    80px 30px 0 rgb(59, 59, 59),
    80px 40px 0 rgb(59, 59, 59),
    80px 50px 0 rgb(59, 59, 59),
    80px 60px 0 rgb(59, 59, 59),
    90px 60px 0 rgb(59, 59, 59),
    100px 70px 0 rgb(59, 59, 59),
    90px 80px 0 rgb(59, 59, 59),
    90px 90px 0 rgb(59, 59, 59),
    80px 100px 0 rgb(59, 59, 59),
    70px 100px 0 rgb(59, 59, 59),
    60px 100px 0 rgb(59, 59, 59),
    50px 100px 0 rgb(59, 59, 59),
    40px 100px 0 rgb(59, 59, 59),
    30px 110px 0 rgb(59, 59, 59),
    20px 110px 0 rgb(59, 59, 59),
    10px 110px 0 rgb(59, 59, 59),
    0px 110px 0 rgb(59, 59, 59),
    -10px 110px 0 rgb(59, 59, 59),
    -20px 100px 0 rgb(59, 59, 59),
    -30px 100px 0 rgb(59, 59, 59),
    -40px 90px 0 rgb(59, 59, 59),
    -40px 80px 0 rgb(59, 59, 59),
    -50px 70px 0 rgb(59, 59, 59),
    -60px 60px 0 rgb(59, 59, 59),
    -60px 50px 0 rgb(59, 59, 59),
    -60px 40px 0 rgb(59, 59, 59),
    -50px 30px 0 rgb(59, 59, 59),
    -40px 30px 0 rgb(59, 59, 59),
    -30px 20px 0 rgb(59, 59, 59),
    -20px 10px 0 rgb(59, 59, 59),
    -10px 10px 0 rgb(59, 59, 59);
}


.jumpBird {
    animation: jump 2s ease forwards;
}

@keyframes jump {
    10% {
        transform: translate(0, 20px) rotate(-10deg);
    }
    20% {
        transform: translate(0, 50px) rotate(-10deg);
    }
    50% {
        transform: translate(20px, 70px) rotate(-20deg);
    }
    70% {
        transform: translate(10px, 100px) rotate(10deg);
    }
    100% {
        transform: translate(0, 50px) rotate(0deg);
    }
}