* {
    margin: 0;
}

body {
    font-family: 'Google Sans', sans-serif;
}

.message {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.textRow1, .textRow2, .textRow3, .textRow4, .textRow5, .textRow6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(201, 201, 201);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.correctLetter {
    background-color: lightgreen;
}

.closeLetter {
    background-color: yellow;
}

.wrongLetter {
    background-color: red;
}