body {
    font-family: 'Google Sans', sans-serif;
    background: linear-gradient(to bottom, rgb(181, 255, 255), rgb(0, 123, 255));
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: fit-content;
}

.headersText {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -20px;
}

.bottomObj {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
}

.fishButton {
    border: 0.5px solid black;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 13px;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 50px;
}

.inventoryIcon, .fishIndexIcon {
    border: 0.5px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

img {
    max-width: 50px;
    max-height: 50px;
}

.whiteSpace {
    width: 100px;
    height: 100px;
    display: block;
}

.fishProgressBar {
    width: 50px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(450px, 0);
}

.balance {
    position: fixed; 
    left: 20px;
}
